<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsApp</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h3>Aiko.Inc</h3>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Mynews</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="articles-container">
            {% for article in articles %}
            <div class="article">
                <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                <p>{{ article.description }}</p>
                {% if article.urlToImage %}
                <img src="{{ article.urlToImage }}" alt="記事の画像">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
